body {
  width: auto;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 0px;
  margin-bottom: 0px;

  background-color: #303841;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  color: #3E3E3E;
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  width : 300px;
  padding: 10px;
  margin: 10px;

  background-color: #D72323;
  /*color: #3A4750;*/
  color: #EEEEEE;
  border: 1px solid #D72323;
  border-radius: 5px;
}

.card__description {
  text-align: justify;
}

/*.card__h1 {
  color: #68868C;
}

.card__health {
  color: #55A44E;
}

.card__level {
  color: #FAEE1C;
}*/

.card__footer {
  display: flex;
  justify-content: space-between;

  font-size: 15px;
}

.loader {
  margin-top: 50vh;
  color: #EEEEEE;
}


